extends ./layouts/common.pug
block content
        form(action="/users/search", method="GET",class="d-flex justify-content-center")
            input(type="text",name="q",class="form-control w-75 p-2",placeholder="Enter name")

            button(class="btn btn-info ml-3" ) Search
        table(class="table table-hover mt-5")
            thead
                tr
                    th(scope='col') Name
                    th(scope='col') Phone
                    th(scope='col') Action
            tbody
                if Array.isArray(users)
                    each user in users
                        tr
                            td= user.name
                            td= user.phone
                            td
                                a(href='/users/view/' + user.id,class="ml-3") View
                else
                    tr
                        td= users.name
                        td= users.phone
                        td
                            a(href='/users/view/' + users.id,class="ml-3") View
               
       
        a(href="/users/create",class="btn btn-outline-info mt-4") Create New User
