extends ../layouts/common.pug
block content
    h2 Create New User 
    if errors 
        each error in errors
            .alert.alert-danger= error
    form(action="/users/create" method="POST")
        div(class="form-group")
            label Name
            input(type="text", name="name",class="form-control w-50",placeholder="Enter name", value= value ? value.name : "" )
        div(class="form-group")
            label Phone
            input(type="text",name="phone",class="form-control w-50",placeholder="Enter phone",value= values ? value.phone : "")
        div(class="form-group")
            label Email
            input(type="text",name="email",class="form-control w-50",placeholder="Enter email",value= values ? value.email : "")
        div(class="form-group")
            label Password
            input(type="text",name="password",class="form-control w-50",placeholder="Enter password",value= values ? value.password : "")
        button(class="btn btn-primary") Create 