html
    head
        title= users.name +'.fullstack'
        meta(charset='utf-8')
        link(href='https://fonts.googleapis.com/css?family=Blinker|Open+Sans|Source+Sans+Pro&display=swap', rel='stylesheet')
        link(rel='stylesheet', type='text/css', href='/styles/setup.css')
        link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet')
    body
        header
            .top-web
                .h.h-h1= users.name
                .h.h-h2 front-end developer, member of UIT - OEP, writter at @OneDebug6hours
                .social-info
                    .item
                        a.overlay(href='https://www.instagram.com/hoanglongsairoi/?hl=es-la', target='_blank')
                            i.fa.fa-instagram
                        span.tooltip insta
                    .item
                        a.overlay(href='https://www.facebook.com/OneDebug6hours', target='_blank')
                            i.fa.fa-facebook
                        span.tooltip facebook
                    .item
                        a.overlay(href='https://github.com/howdreamerfall', target='_blank')
                            i.fa.fa-github
                        span.tooltip github
                    .item
                        a.overlay(href='https://soundcloud.com/d-a-h-u-749436527/sets', target='_blank')
                            i.fa.fa-soundcloud
                        span.tooltip soundcloud
                    .item
                        a.overlay(href='https://twitter.com/OneDebug6hours', target='_blank')
                            i.fa.fa-twitter
                        span.tooltip twitter

